a {
    color: white;
}

p {
    line-height: 2rem;
}

#nav-but {
    display: none;
    z-index: 10;
    position: fixed;
    margin: 10px 0px 0px 10px;
}

.parallax-container {
    min-height: 470px;
    height: auto;
}

.parallax-container::before {
    position: fixed;
    content: '';
}

#page {
    opacity: 0;
}

.anime_ctd {
    width: 100%;
    position: fixed;
    z-index: 7;
    /*padding-top: 150px;*/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome1 {
    margin-left: 30%;
    width: 40%;
}

.c {
    position: absolute;
    width=40%;
    animation-name: fadeInRight1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
}

.t {
    position: absolute;
    width=40%;
    animation-name: fadeInDown1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
}

.d {
    width=40%;
    animation-name: fadeInLeft1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
}

.welcome2 {
    width: 38%;
    margin-top: 10px;
    margin-left: 31%;
    animation-name: fadeInUp1;
    animation-duration: 6000ms;
    animation-delay: 0ms;
}

.welcome3 {
    width: 34%;
    margin-top: 10px;
    margin-left: 33%;
    animation-name: fadeInUp1;
    animation-duration: 6000ms;
    animation-delay: 0ms;
}

.spinner {
    display: none;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.wave-effect {
    z-index: 1;
    position: absolute;
    height: 20px;
    width: 20px;
    opacity: 0;
    border-radius: 50%;
    transition: all .7s ease-out;
    transition-property: transform, opacity;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ripple {
    opacity: 1;
    transform: scale(30);
}

.box {
    position: relative;
    overflow: hidden;
    height: 160px;
    background-color: white;
}

.box img {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .black-img {
    opacity: 1;
    z-index: 0;
}

.box .white-img {
    opacity: 0;
    z-index: 2;
}

@keyframes fadeInDown1 {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft1 {
    from {
        opacity: 0;
        transform: translate3d(48%, 0, 0);
        -webkit-transform: translate3d(48%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight1 {
    from {
        opacity: 0;
        transform: translate3d(-48%, 0, 0);
        -webkit-transform: translate3d(-48%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp1 {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn1 {
    frpm {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer.page-footer {
    margin-top: 0px;
}

.dark-primary-color {
    background: #1976D2 !important;
}

.default-primary-color {
    background: #2196F3 !important;
}

.light-primary-color {
    background: #BBDEFB !important;
}

.text-primary-color {
    color: #FFFFFF !important;
}

.accent-color {
    background: #03A9F4 !important;
}

.primary-text-color {
    color: #212121 !important;
}

.secondary-text-color {
    color: #757575 !important;
}

.divider-color {
    border-color: #BDBDBD !important;
}