#nav-but {
    width: 64px;
}

.parallax-container {
    height: 400px;
}

.carousel-item img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 200px !important;
}

.carousel-item {
    text-align: center;
    height: 300px !important;
    width: 300px !important;
}