#nav-but {
    width: 64px;
}

.parallax-container {
    height: 400px;
}

.carousel-item img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 200px !important;
}

.carousel-item {
    text-align: center;
    height: 300px !important;
    width: 300px !important;
}

nav {
    position: fixed;
    z-index: 3;
}

.page {
    animation-name: fadeIn1;
    animation-duration: 7000ms;
    animation-delay: 0ms;
}

.anime_ctd {
    width: 99%;
    position: fixed;
    z-index: 7;
    padding-top: 200px;
    animation-name: ZoomOut1;
    animation-delay: 5000ms;
    animation-duration: 4500ms;
}

.welcome1 {
    margin-left: 30%;
    width: 40%;
}

.c {
    position: absolute;
    width=40%;
    animation-name: fadeInRight1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
}

.t {
    position: absolute;
    width=40%;
    animation-name: fadeInDown1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
}

.d {
    width=40%;
    animation-name: fadeInLeft1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
}

.welcome2 {
    width: 38%;
    margin-top: 10px;
    margin-left: 31%;
    animation-name: fadeInUp1;
    animation-duration: 6000ms;
    animation-delay: 0ms;
}

.welcome3 {
    width: 34%;
    margin-top: 10px;
    margin-left: 33%;
    animation-name: fadeInUp1;
    animation-duration: 6000ms;
    animation-delay: 0ms;
}

.userView {
    background-color: black;
}

.parallax-container .row {
    opacity: .8
}

.wave-effect {
    z-index: 1;
    position: absolute;
    height: 20px;
    width: 20px;
    /*background-color: rgba(255, 23, 68, 1);*/
    opacity: 0;
    border-radius: 50%;
    transition: all .7s ease-out;
    transition-property: transform, opacity;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ripple {
    opacity: 1;
    transform: scale(30);
}

.box {
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color: white;
}

.box img {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .black-img {
    opacity: 1;
    z-index: 0;
}

.box .white-img {
    opacity: 0;
    z-index: 2;
}

#events .container .section .row {
    margin-bottom: 0px;
}

@keyframes fadeInDown1 {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft1 {
    from {
        opacity: 0;
        transform: translate3d(48%, 0, 0);
        -webkit-transform: translate3d(48%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight1 {
    from {
        opacity: 0;
        transform: translate3d(-48%, 0, 0);
        -webkit-transform: translate3d(-48%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp1 {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ZoomOut1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(.5, .5, .5);
        -webkit-transform: scale3d(.5, .5, .5);
    }
}